/* css/style.css */

::selection {
    background-color: #d4af37;
    color: #000000;
}

img:hover {
    transform: scale(1.02); 
    transition: transform 0.3s ease-in-out; 
    cursor: pointer;
}

button:hover, a.bg-brand-gold:hover {
    box-shadow: 0 0 15px rgba(212, 175, 55, 0.6) !important; 
    transition: box-shadow 0.3s ease;
}


.bg-white:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}